body{
    background-image:url("images/background.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    
  }

    nav {
   display:block;
   width: 100%;
   height: 50px;      
    }

    ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 40%;
    height: 75%;
    
}

li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    box-sizing: border-box;
   }

   li a:hover
{
 background-color: red;
 display: block;
}

img{
    width:150px;
    height:150px;
    padding:75px;
}
p{
    color:black;
    font-size:17px;
    text-align: left;
    }
    .boarder{
        float:left;
        width:80%;
        height:60%;
         border-style:solid;
  border-width:5px;
  border-color:white;
  background-color: white;
  margin:0 auto;
  margin-left:10%;
    }
    .blog1{
        width:80%;
        height:60%;
       display:block;
   background-color: white;
   margin:0 auto;
  border-style:solid;
  border-width:5px;
  border-color:black;
   
    }
    .blog1 h2{
    color:black;
    font-size:20px;
    text-align: left;
    margin-left:5%;
    }
    .blog1 h3{
    color:black;
    font-size:40px;
    text-align: left;
    margin-left:5%;
    }
    .blog1 h4{
    color:black;
    font-size:25px;
    text-align: left;
    margin-left:5%;
    }
    .blog1 h5{
    color:red;
    font-size:20px;
    text-align:right;
    margin-right:5%;
    }
    @media screen and (min-width:0px) and (max-width:1300px){
nav ul li a{
    width:100%;
    
}
    }