body{
    background-image:url("images/background.jpg");    
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    
  }

  .mumname{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial;    
  }
   nav {
    display:block;
    width: 100%;
    height: 50px;  

      
    }
   ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 40%;
    height: 75%;
    }

li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    box-sizing: border-box;
   }

   li a:hover{
 background-color: red;
 display: block;
}


img{
    float:left;
    width:10%;
    height:100%;
    margin-top:5%;
    margin-left: 5%;
   
}
p{
    float:left;
    color:white;
    height:50%;
    width:50%;
    display:block;
    margin-left:5%;
    margin-top:5%;
    line-height: 35px;
    font-size: medium;
    letter-spacing: 0.11em;
}

h3{
    float:right;  
    color:white;
    margin-top:20%;
    margin-left:-20%;
   
}
h4{
    float:right;
    color: white;
    margin-top:25%;   
    }
    .comment{
    float:left;
    margin-left: -20%;
    margin-top: 25%;
}

@media screen and (min-width:0px) and (max-width:360px){

.contact{
    width:100%;
    float:left;
    
}

nav ul li a{
        width:100%;
    }
    p{
         

        display:block;
        width:100%;
        height:250px;
        margin:0 auto;
        overflow: scroll;


    }
    
    .smallmum{
        display:block;
        width:80%;
        height:80%;
        margin:0 auto;
    }
    
    .emails{
     margin-top: 5%; 
    width:100%;
    float:left;
}
 h3{
       margin-top: 5%;
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;

    }
     h4{
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        margin-left: 20%;
    }
     h1{
         width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
     }

}
@media screen and (min-width:361px) and (max-width:760px){

.contact{
   
    float:left;
    
    
    
}
nav ul li a{
        width:100%;
    }
    p{
         

        display:block;
        width:50%;
        height:250px;
        margin:0 auto;
        overflow: scroll;
        margin-top:5%;
        margin-left:5%;

    }
    
    .smallmum{
        display:block;
        width:80%;
        height:80%;
        margin:0 auto;
        margin-top:5%;
    }
    
    .emails{
     margin-top: 5%; 
    width:100%;
    float:left;
}
 h3{
       margin-top: 5%;
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;

    }
     h4{
       float:left;
        width:100%;
        height:100%;
        margin-left: 40%;
    }
     h1{
         width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
     }
     .mum{
         width:50%;
     }

}
@media screen and (min-width:761px) and (max-width:1300px){

.contact{
   
    float:left;
    
    
    
}
nav ul li a{
        width:100%;
    }
    p{
         

        display:block;
        width:50%;
        height:250px;
        margin:0 auto;
        overflow: scroll;
        margin-top:5%;
        margin-left:5%;

    }
    
    .smallmum{
        display:block;
        width:50%;
        height:80%;
        margin:0 auto;
        margin-top:5%;
    }
    
    .emails{
   
    float:right;
    margin-top: 5%;
}
 h3{
       margin-top: 5%;
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        margin-right:-20%;

    }
     h4{
       float:left;
        width:100%;
        height:100%;
       
       
    }
    .form{
         margin-left:80%;
    }
     h1{
         width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
     }
     .mum{
         width:50%;
     }

}
@media screen and (min-width:1300px) and (max-width:1600px){

.contact{
   
    float:left;
    
    
    
}
nav ul li a{
        width:100%;
    }
    p{
         

        display:block;
        width:50%;
        height:250px;
        margin:0 auto;
        overflow: scroll;
        margin-top:5%;
        margin-left:5%;

    }
    
    .smallmum{
        display:block;
        width:50%;
        height:80%;
        margin:0 auto;
        margin-top:5%;
    }
    
    .emails{
   
    float:right;
    margin-top: 5%;
}
 h3{
       margin-top: 5%;
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        margin-right:-20%;

    }
     h4{
       float:left;
        width:100%;
        height:100%;
       
       
    }
    .form{
         margin-left:80%;
    }
     h1{
         width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
     }
     .mum{
         width:50%;
     }

}