body{
    background-image:url("images/background.jpg");    
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-color: black;

    
}


.mumname{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial;    
  }
   nav {
    display:block;
    width: 100%;
    height: 50px;  

      
    }
   ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 40%;
    height: 75%;
    }

li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    box-sizing: border-box;
   }

   li a:hover{
 background-color: red;
 display: block;
}
.mum{
    width:15%;
    float:left;    
    margin-left:5%;
    margin-top:-17%;
}
.smallmum{
    float:left;
    width:100%;
}
.about{
    margin-top:21%;     
    margin-left:5%;  
    color:white;
    font-size:17px;
    font-family: Arial;
    width:20%;
    height:20%;  
}
.awardimage{
    float:left;
    margin-left:40%;   
    width:17%;
    height:35%;
    margin-top:-20%;
}
.writeup{
    margin-left:2%;
    margin-top:-18%;
    float:left;
    color:white;
    width:25%;
    height:30%;
    font-size:17px;
    font-family: Arial;
    overflow:auto;
}
.comments{
    float:left;
    color:white;
    margin-top:-8%;
    margin-left:10%;
    font-size:17px;
    font-family: Arial;
    width:25%;
    height:30%;
    
}
.Freebook{
    
    color:white;
    float:left;
    margin-top:0%;
    margin-left:15%;
    font-size:14px;
    font-family: Arial;
    width:25%;
    height:30%;
}
@media screen and (min-width:0px) and (max-width:360px){

.one{
   float:left;
    
    
    
   
}
 .mumname {
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:100%;
        height:80%;

        margin:0 auto;


    }
    .smallmum{
        display:block;
        width:100%;
        height:80%;
        margin:0 auto;
    }
    .about{
        width:100%;
        height:50%;
        margin: 0 auto;
        margin-top: -2%;

    }
    .two{
        
        float:left;
        
    }
    .awardimage{
        display:block;
        width:100%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
        float:left;
        width:100%;
        height:1%;
        margin:0 auto;
        overflow:auto;
        
    }
    .comments{        
        float:left;
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:14px;
      
        
    }
    .Freebook{        
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:13px;
        
    }
}
@media screen and (min-width:361px) and (max-width:640px){

.one{
   float:left;
    
    
    
   
}
 .mumname {
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:50%;
        height:80%;

        margin:0 auto;


    }
    .smallmum{
        display:block;
        width:70%;
        height:80%;
        margin:0 auto;
    }
    .about{
        float:left;
        width:50%;
        height:50%;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 5%;

    }
    .two{
        
        float:left;
        margin-top: -5%;
    }
    .awardimage{
        display:block;
        width:100%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
        float:left;
        width:100%;
        height:1%;
        margin:0 auto;
        overflow:auto;
        
    }
    .comments{        
        float:left;
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:14px;
      
        
    }
    .Freebook{        
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:13px;
        
    }
}
@media screen and (min-width:641px) and (max-width:960px){

.one{
   float:left;
    
    
    
   
}
 .mumname {
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:50%;
        height:80%;

        margin:0 auto;


    }
    .smallmum{
        display:block;
        width:70%;
        height:80%;
        margin:0 auto;
    }
    .about{
        float:left;
        width:50%;
        height:50%;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 5%;

    }
    .two{
        
        float:left;
        width:50%;
        margin-top:5%;
        
    }
    .awardimage{
        display:block;
        width:50%;
        height:50%;
        margin:0 auto;
    }
    .writeup{
        float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        overflow:auto;
        margin-left:3%;
        font-size:20px;
        
    }
    .comments{        
        float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:14px;
        margin-left:2%;
      font-size:15px;
        
    }
    .Freebook{        
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:13px;
        margin-left:5%;
        font-size:15px;
    }
}
@media screen and (min-width:961px) and (max-width:1300px){

.one{
   float:left;
    
    
    
   
}
 .mumname {
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:20px;
    }
     nav{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:30%;
        height:80%;

        margin:0 auto;


    }
    .smallmum{
        display:block;
        width:80%;
        height:80%;
        margin:0 auto;
    }
    .about{
        float:left;
        width:50%;
        height:30%;
        margin: 0 auto;
        font-size: 25px;
        margin-top: 3%;

    }
    .two{
        
       float:left;
        width:50%;
        margin-top: 10%;
       
    }
    .awardimage{
        float:left;
        display:block;
        width:50%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
        float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        overflow:auto;        
        font-size:30px;
        margin-left: 3%;
        
        
    }
    .comments{        
        float:left;
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:25px;
        margin-left: 3%;
       

     
        
    }
    .Freebook{  
        float:left;      
        width:100%;
        height:100%;
        margin:0 auto;
        font-size:13px;
        margin-left: 3%;
        font-size:20px;
        margin-top: 20%;
    }
}